@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Zeyada&display=swap');

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('bg.jpeg');
    background-size: 1000px;
    background-position: center center;
}

.paper{
    position: absolute;
    background-image: url('paper.webp');
    background-size: 500px;
    background-position: center center;
    padding: 20px 100px;
    transform: rotateZ(-5deg);
    box-shadow: 1px 15px 20px rgba(0,0,0,0.5);
}

/* HEART PAPER */
.paper.heart {
    width: 200px;
    height: 200px;
    padding: 0;
    border-radius: 50%;
    position: relative;
}

/* HEART IMAGE OVERLAY */
.paper.heart::after{
    content: "";
    background-image: url('heart.webp');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

/* IMAGE PAPER TEXT */
.paper.image p{
    font-size: 30px;
}

/* IMAGE STYLING */
img{
    max-height: 200px;
    width: 100%;
    user-select: none;
}

/* TEXT STYLE */
p{
    font-family: 'Zeyada', cursive;
    font-size: 50px;
    color: rgb(0,0,100);
    opacity: 0.75;
    user-select: none;
}
